@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* Global */
body{
  background-color: black ;
}
.img-banner{
  width:100%;
  height:auto;
}

.T1{
  padding-top: 1rem;
  font-family: "Bebas Neue";
  color: #4F9CAC;
  font-size: 5rem;
}
.T2{
  font-family: "Bebas Neue";
  color: yellow;
  font-size: 4.5rem;
}
.T3{
  padding-top:3rem;
  font-family: "Bebas Neue";
  color: yellow;
  font-size: 2.3rem;
}
.T4{
  font-family: "Bebas Neue";
  color: #4F9CAC;
  font-size: 2.3rem;
}
.T4:hover{
  color: #3a818f;
  transition: 2s;
  text-decoration: none;

}
.bgcolor{
  background-image: linear-gradient( black, rgb(3, 3, 3))
}