@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* Global */
.sizecont{
    width: 85vw;
}

body {
    background-color: rgb(91, 156, 182);
}

.line-1{
    font-family: 'Press Start 2P', cursive;
    color: rgb(229, 255, 0);
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}